@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{ 
    background-color: rgb(34, 32, 32);
}

/**iPhone 6/7/8 ************************************/
@media only screen and (min-width: 375px){
    /**NAVBAR *****************************/
    .navz{
        z-index: 9;
    }
    #rd{
        font-size:30px;
        color: none;
    }

    .navhome i{
        font-size: 20px;
        padding-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .navhome{
        float: left;
        width: 100%;
        height: 50px;
    }
    .navhome a{
        font-size: 20px;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(255,255,255,.1 );
        border-bottom: 1px solid rgb(71, 69, 69);
        border-left: 5px solid rgb(134, 134, 134);
        transition: .4s;
    }
    .navhome ul li:hover a{
        padding-left: 50px;
        color: rgb(7, 7, 7) !important;
    }

    .navhome a:hover{
        background-color: rgb(204, 157, 15);
        border-radius: 10px 10px 10px 10px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }




    /** HOME *************************************/
    .main{
        background-image: url("../image/back11.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:scroll;
        width: 100%;
        height: 670px;   
    }

    .home{
        text-align: center;
        padding-top: 150px;
    }
    .home img{
        width: 200px;
        height: 200px;
        border-radius: 100px 100px 100px 100px;
        margin: 10px;
    }
    .home h3{
        font-size: 30px;
        color: #fafbfc;
        text-shadow: black 3px 3px;
        background-color:transparent;
        background-color: rgb(53, 52, 52, 0.7);
        background-size: 25px;
        border-radius: 20px 20px 20px 20px;
        letter-spacing: 2px;
        font-family: 'Gorditas', cursive;
        margin: 20px;
    }
    .btn{
        font-size: 20px;
        margin: 15px;
        border-radius: 10px 10px 10px 10px;
    }
    .btncontact{
        text-decoration: none;
        color: white;
    }
    /**ABOUT ************************************/
    .me{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 100px; 
    }
    .h2-about{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        font-size: 30px;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        margin-top: 35px; 
        width: 70%;
        margin-left: 55px;
        
    }
    .caro{
        background-size: cover;
        height: 100px;
    }
    .image2{
        width: 100%;
        height: 250px;
    }
    .image1{
        width: 100%;
        height: 250px;
    }
    .kimpoy{
        width: 100%;
        height: 250px;
    }
    .about{
        text-align: justify;
        background-color:rgb(33, 37, 41);
        color:white;
        padding-top: 200px;
        font-size: 18px;
        padding-bottom: 20px;
    }
    .about h4{
        padding-top: 0 !important;
        font-size: 30px;
        text-align: center;
    }
    ul{
        text-align: justify !important;
        font-size: 19px;
    }
    .cardabout{
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        padding: 0 !important;
        width:350px
    }
    .cardabout1{
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707; 
    }
    .cardabouttext{
        color:white;
    }
    .cardabouttitle{
        color: white;
        text-align: center;
    }
    .cardaboutIpad{
        display: none;
    }

    /**SKILLS ***********************************************/
    .skill{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 100px; 
    }

    .h2-skill{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        font-size: 30px;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        margin-top: 35px; 
        width: 70%;
        margin-left: 55px;
    }

    /**Skills Filmora Style**/
    .cardfilmora {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 320px;
    }
    .filmotitle{
        color: white;
    }
    .filmotext{
        color: white;
    }

    /**Skills Effects Filmora ********************/
    .innerfilmora{
        overflow: hidden;
    }
    .innerfilmora img{
        transition: all 1.5s ease;
    }
    .innerfilmora:hover img{
        transform: scale(1.5);
    }
    .cardfilmoraipad{
        display: none;
    }

    /**Skills Photoshop Style**********/
    .cardphoto{
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 320px; 
    }
    .phototitle{
        color: white;
    }
    .phototext{
        color: white;
    }

    /**Skills Effects Photoshop *********/
    .innerphoto{
        overflow: hidden;
    }
    .innerphoto img{
        transition: all 1.5s ease;
    }
    .innerphoto:hover img{
        transform: scale(1.5);
    }
    .cardphotoipad{
        display: none;
    }


    /**Skills Html style ********/
    .cardhtml{
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 320px; 
    }
    .htmltitle{
        color:white;
    }
    .htmltext{
        color: white;
    }

    /**Skills Effects Html css ***********/
    .innerhtml{
        overflow: hidden;
    }
    .innerhtml img{
        transition: all 1.5s ease;
    }
    .innerhtml:hover img{
        transform: scale(1.5);
    }
    .cardhtmlipad{
        display: none;
    }

    /**PROJECT ============================**/
    .project{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 100px; 
        margin-top: -20px;   
    }
    .h2-project{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        font-size: 30px;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        margin-top: 35px; 
        width: 70%;
        margin-left: 55px;
    }

    /**Porfolio Css ***************/
    .portfolio{
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 320px; 
    }
    .portfoltitle{
        color: white;
    }
    .portfoltext{
        color: white;
    }
    .kim1{
        overflow: hidden;
    }
    .kim1 img{
        transition: all 1.5s ease;
    }
    .kim1:hover img{
        transform: scale(1.5);
    }

    .portfolioipad{
        display: none;
    }

    /**Website Css *****************/
    .website{
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 320px; 
    }
    .webtitle{
        color: white;
    }
    .webtext{
        color: white;
    }
    .kim2{
        overflow: hidden;
    }
    .kim2 img{
        transition: all 1.5s ease;
    }
    .kim2:hover img{
        transform: scale(1.5);
    }
    .websiteipad{
        display: none;
    }


    /**CONTACT====================================**/
    .contact{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 100px; 
        margin-top: -20px;
    }
    .h2-contact{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        font-size: 30px;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        margin-top: 35px; 
        width: 70%;
        margin-left: 55px;
    }
    .form-label{
        font-size: 20px;
        color: white;
    }
    .con{
        color: white;
        text-align: center;
        padding-top: 20px;
    }

    /**SOCIAL **********************************/
    .social{
        text-align: center;
        text-decoration: block;
        
    }
    .social h3{
        font-size: 30px;
        color: #fafbfc;
        text-shadow: black 1px 1px;
        background-color: #53728F;
        background-size: 20px;
        border-radius: 10px 10px 10px 10px;
        letter-spacing: 2px;
        font-family: 'Gorditas', cursive;
        margin-top: 0px;
        text-align: center; 
    }
    .cardsocial{
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 350px; 
    }

    i{
    font-size: 50px;   
    float: left;
    }

    .social a{
        text-align: center;
        font-size: 20px;
        color: white;
    }
    td{
        padding: 5px;
        text-align: left !important; 
    }
    td a{
        text-decoration: none;
    }

    .newcardsocial{
        display: none;
    }



    /**Footer **********************************/
    footer{
        background-color: rgb(33, 37, 41);
        text-align: center;
        font-size: 15px;
        color: white;
    }
    footer p{
        margin: 0;
        margin-top: 10px;
        font-size: 20px;
    }
}

/**For iPhone 6/7/8 Plus ******************************************************************************************/
@media only screen and (min-width: 414px){ 

/**NAVBAR *****************************/
.navz{
    z-index: 9;
}
#rd{
    font-size: 40px;
}

.navhome{
    float: left;
    width: 100%;
    height: 50px;
}
.navhome a{
    font-size: 20px;
    color: black;
}
.navhome a:hover{
    background-color: rgb(204, 157, 15);
    border-radius: 10px 10px 10px 10px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

/** HOME *************************************/
.main{
    background-image: url("../image/back11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    width: 100%;
    height: 750px;   
}

.home{
    text-align: center;
    padding-top: 200px;
}
.home img{
    width: 200px;
    height: 200px;
    border-radius: 100px 100px 100px 100px;
}
.home h3{
    font-size: 38px;
    color: #fafbfc;
    text-shadow: black 3px 3px;
    background-color:transparent;
    background-color: rgb(53, 52, 52, 0.7);
    background-size: 20px;
    border-radius: 20px 20px 20px 20px;
    letter-spacing: 2px;
    font-family: 'Gorditas', cursive;
    margin: 20px;
}
.btn{
    font-size: 20px;
    margin: 15px;
    border-radius: 10px 10px 10px 10px;
    
}
/**ABOUT ************************************/
.me{
    background-image: url("../image/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    width: 100%;
    height: 120px; 
}
.h2-about{
    border-radius: 50px 50px 50px;
    font-family: 'Gorditas', cursive;
    text-shadow: rgb(7, 7, 7) 1px 2px;
    color:white;
    font-size: 40px;
    background-color: rgb(53, 52, 52, 0.5); 
    padding-top: 0px; 
    margin-top: 35px; 
    width: 70%;
    margin-left: 55px;
    
}
.caro{
    background-size: cover;
    height: 100px;
}
.image2{
    width: 100%;
    height: 300px;
}
.image1{
    width: 100%;
    height: 300px;
}
.kimpoy{
    width: 100%;
    height: 300px;
}
.about{
    text-align: justify;
    background-color:rgb(33, 37, 41);
    color:white;
    padding-top: 200px;
    font-size: 18px;
    padding-bottom: 20px;
}
.about h4{
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
ul {
    text-align: justify;
    font-size: 20px;
}
.cardabout{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 50px; 
    padding-bottom: -20px;
    margin-top: 8%;
    padding: 0 !important;
    width:380px
}                                               
.cardabout1{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 50px; 
    padding-bottom: -20px;
    margin-top: 8%;
    box-shadow: 2px 8px 10px #070707; 
    font-size: 20px;
}
.cardabouttext{
    color:white;
}
.cardabouttitle{
    color: white;
    text-align: center;
    font-size: 25px;
}

.cardaboutIpad{
    display: none;
}

/**SKILLS ***********************************************/
.skill{
    background-image: url("../image/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    width: 100%;
    height: 120px; 
}

.h2-skill{
    border-radius: 50px 50px 50px;
    font-family: 'Gorditas', cursive;
    text-shadow: rgb(7, 7, 7) 1px 2px;
    color:white;
    font-size: 40px;
    background-color: rgb(53, 52, 52, 0.5); 
    padding-top: 0px; 
    margin-top: 35px; 
    width: 70%;
    margin-left: 55px;
}

/**Skills Filmora Style**/
.cardfilmora {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 50px; 
    padding-bottom: -20px;
    margin-top: 8%;
    box-shadow: 2px 8px 10px #070707;
    width: 380px;
}
.filmotitle{
    color: white;
    font-size: 25px;
}
.filmotext{
    color: white;
    font-size: 18px;
}

/**Skills Effects Filmora ********************/
.innerfilmora{
    overflow: hidden;
}
.innerfilmora img{
    transition: all 1.5s ease;
}
.innerfilmora:hover img{
    transform: scale(1.5);
}
.cardfilmoraipad{
    display: none;
}

/**Skills Photoshop Style**********/
.cardphoto{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 50px; 
    padding-bottom: -20px;
    margin-top: 8%;
    box-shadow: 2px 8px 10px #070707;
    width: 380px; 
}
.phototitle{
    color: white;
    font-size: 25px;
}
.phototext{
    color: white;
    font-size: 18px;
}

/**Skills Effects Photoshop *********/
.innerphoto{
    overflow: hidden;
}
.innerphoto img{
    transition: all 1.5s ease;
}
.innerphoto:hover img{
    transform: scale(1.5);
}
.cardphotoipad{
    display: none;
}


/**Skills Html style ********/
.cardhtml{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 50px; 
    padding-bottom: -20px;
    margin-top: 8%;
    box-shadow: 2px 8px 10px #070707;
    width: 380px; 
}
.htmltitle{
    color:white;
    font-size: 25px;
}
.htmltext{
    color: white;
    font-size: 18px;
}

/**Skills Effects Html css ***********/
.innerhtml{
    overflow: hidden;
}
.innerhtml img{
    transition: all 1.5s ease;
}
.innerhtml:hover img{
    transform: scale(1.5);
}
.cardhtmlipad{
    display: none;
}

/**PROJECT ====================================================**/
.project{
    background-image: url("../image/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    width: 100%;
    height: 120px; 
    margin-top: -20px;   
}
.h2-project{
    border-radius: 50px 50px 50px;
    font-family: 'Gorditas', cursive;
    text-shadow: rgb(7, 7, 7) 1px 2px;
    color:white;
    font-size: 40px;
    background-color: rgb(53, 52, 52, 0.5); 
    padding-top: 0px; 
    margin-top: 35px; 
    width: 70%;
    margin-left: 55px;
}

/**Porfolio Css ***************/
.portfolio{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 50px; 
    padding-bottom: -20px;
    margin-top: 8%;
    box-shadow: 2px 8px 10px #070707;
    width: 380px; 
}
.portfoltitle{
    color: white;
    font-size: 25px;
}
.portfoltext{
    color: white;
    font-size: 18px;
}
.kim1{
    overflow: hidden;
}
.kim1 img{
    transition: all 1.5s ease;
}
.kim1:hover img{
    transform: scale(1.5);
}
.portfolioipad{
    display: none;
}

/**Website Css *****************/
.website{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 50px; 
    padding-bottom: -20px;
    margin-top: 8%;
    box-shadow: 2px 8px 10px #070707;
    width: 380px; 
}
.webtitle{
    color: white;
    font-size: 25px;
}
.webtext{
    color: white;
    font-size: 18px;
}
.kim2{
    overflow: hidden;
}
.kim2 img{
    transition: all 1.5s ease;
}
.kim2:hover img{
    transform: scale(1.5);
}
.websiteipad{
    display: none;
}

/**CONTACT====================================**/
.contact{
    background-image: url("../image/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    width: 100%;
    height: 120px; 
    margin-top: -20px;
}
.h2-contact{
    border-radius: 50px 50px 50px;
    font-family: 'Gorditas', cursive;
    text-shadow: rgb(7, 7, 7) 1px 2px;
    color:white;
    font-size: 40px;
    background-color: rgb(53, 52, 52, 0.5); 
    padding-top: 0px; 
    margin-top: 35px; 
    width: 70%;
    margin-left: 55px;
}
.form-label{
    font-size: 20px;
    color: white;
}
.con{
    color: white;
    text-align: center;
    padding-top: 20px;
}

/**SOCIAL **********************************/
.social{
    text-align: center;
    text-decoration: block;
    
}
.social h3{
    font-size: 30px;
    color: #fafbfc;
    text-shadow: black 1px 1px;
    background-color: #53728F;
    background-size: 20px;
    border-radius: 10px 10px 10px 10px;
    letter-spacing: 2px;
    font-family: 'Gorditas', cursive;
    margin-top: 0px;
    text-align: center; 
}
.cardsocial{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 50px; 
    padding-bottom: -20px;
    margin-top: 8%;
    box-shadow: 2px 8px 10px #070707;
    width: 400px; 
}

i{
 font-size: 50px;   
 float: left;
}

.social a{
    text-align: center;
    font-size: 20px;
    color: white;
}
td{
    padding: 5px;
    text-align: left !important; 
}
td a{
    text-decoration: none;
}
.newcardsocial{
    display: none;
}


/**Footer **********************************/
footer{
    background-color: rgb(33, 37, 41);
    text-align: center;
    font-size: 15px;
    color: white;
}
footer p{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}

}


/**For IPad ************************************************************************************************/
@media only screen and (min-width: 768px){

    .navz{
        z-index: 9;
    }
    #rd{
        font-size: 40px;
    }
    .navhome{
        float: left;
        width: 100%;
        height: 50px;
    }

    .navhome i{
        font-size: 20px;
        padding-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .navhome a{
        font-size: 25px;
        color: black;
    }
    .navhome a:hover{
        background-color: rgb(204, 157, 15);
        border-radius: 10px 10px 10px 10px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
    
    /** HOME *************************************/
    .main{
        background-image: url("../image/back11.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:scroll;
        width: 100%;
        height: 1100px;   
    }
    
    .home{
        text-align: center;
        padding-top: 200px;
    }
    .home img{
        width: 300px;
        height: 300px;
        border-radius: 140px 140px 140px 140px;
    }
    .home h3{
        font-size: 80px;
        color: #fafbfc;
        text-shadow: black 3px 3px;
        background-color:transparent;
        background-color: rgb(53, 52, 52, 0.7);
        background-size: 20px;
        border-radius: 20px 20px 20px 20px;
        letter-spacing: 2px;
        font-family: 'Gorditas', cursive;
        margin: 20px;
    }
    .btn{
        font-size: 30px;
        margin: 20px;
        border-radius: 10px 10px 10px 10px;
    }
    #btncv{
        font-size: 30px;
        margin: 20px;
        border-radius: 10px 10px 10px 10px;
    }

    /**ABOUT ************************************/
    .me{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 130px; 
    }
    .h2-about{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        font-size: 50px;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        margin-top: 35px; 
        width: 70%;
        margin-left: 120px;
        
    }
    .caro{
        background-size: cover;
        height: 100px;
    }
    .image2{
        width: 100%;
        height: 500px;
    }
    .image1{
        width: 100%;
        height: 500px;
    }
    .kimpoy{
        width: 100%;
        height: 500px;
    }
    .about{
        text-align: justify;
        background-color:rgb(33, 37, 41);
        color:white;
        padding-top: 400px;
        font-size: 18px;
        padding-bottom: 20px;
    }
    .about h4{
        font-size: 30px;
        text-align: center;
        margin: 20px;
    }
    ul {
        text-align: justify;
        font-size: 20px;
    }
    
    /**For Not Showing Content of Ipone 6/7/8 and 6/7/8 plus**/
    .cardabout{
        display: none;
    }                                               
    
    /**For Ipad **********/
    .cardaboutIpad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        padding: 0 !important;
        width:800px 
    }
    .cardaboutIpad a{
        font-size: 20px;
    }

    .cardaboutIpad1{
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707; 
        font-size: 20px; 
    }
    .cardaboutIpadtitle{
        color: white;
        text-align: center;
        font-size: 25px;
    }
    .cardaboutIpadtext{
        color: white;
    }
    .cardaboutIpad img{
        width: 100%;
        height: 350px;  
    }
    
    /**SKILLS ***********************************************/
    .skill{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 130px; 
    }
    
    .h2-skill{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        font-size: 50px;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        margin-top: 35px; 
        width: 70%;
        margin-left: 120px;
    }
    
    /**Skills Filmora Style**/
    .cardfilmoraipad {
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 330px;
    }
    .cardfilmoraipad a{
        font-size: 25px;
    }
    .filmotitleipad{
        color: white;
        font-size: 25px;
    }
    .filmotextipad{
        color: white;
        font-size: 18px;
    }
    
    /**Skills Effects Filmora ********************/
    .innerfilmoraipad{
        overflow: hidden;
    }
    .innerfilmoraipad img{
        transition: all 1.5s ease;
        height: 200px;
    }
    .innerfilmoraipad:hover img{
        transform: scale(1.5);
    }
    .cardfilmora{
        display: none;
    }
    
    /**Skills Photoshop Style**********/
    .cardphotoipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 330px; 
        height: 88%;
    }
    .cardphotoipad a{
        font-size: 25px;
        position: absolute;
        margin-top: 150px;
    }
    .phototitleipad{
        color: white;
        font-size: 25px;
    }
    .phototextipad{
        color: white;
        font-size: 18px;
    }
    
    /**Skills Effects Photoshop *********/
    .innerphotoipad{
        overflow: hidden;
    }
    .innerphotoipad img{
        transition: all 1.5s ease;
        height: 200px;
    }
    .innerphotoipad:hover img{
        transform: scale(1.5);
    }
    .cardphoto{
        display: none;
    }
    
    /**Skills Html style ********/
    .cardhtmlipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: -3%;
        box-shadow: 2px 8px 10px #070707;
        width: 330px; 
    }
    .cardhtmlipad a{
        font-size: 25px;
    }
    .htmltitleipad{
        color:white;
        font-size: 25px;
    }
    .htmltextipad{
        color: white;
        font-size: 18px;
    }
    
    /**Skills Effects Html css ***********/
    .innerhtmlipad{
        overflow: hidden;
    }
    .innerhtmlipad img{
        transition: all 1.5s ease;
        height: 200px;
    }
    .innerhtmlipad:hover img{
        transform: scale(1.5);
    }
    .cardhtml{
        display: none;
    }
    
    /**PROJECT ====================================================**/
    .project{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 130px; 
        margin-top: -20px;   
    }
    .h2-project{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        font-size: 50px;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        margin-top: 35px; 
        width: 70%;
        margin-left: 120px;
    }

    /**Porfolio CSS**/
    /**For not Showing Ipad Project changes On Iphone 6/7/8 & Plus**/
    .portfolio{
        display: none;
    }

    .portfolioipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 300px; 
    }
    .portfolioipad a{
        font-size: 25px;
    }
    .portfoltitleipad{
        color: white;
        font-size: 25px;
    }
    .portfoltextipad{
        color: white;
        font-size: 18px;
    }
    .kim1ipad{
        overflow: hidden;
    }
    .kim1ipad img{
        transition: all 1.5s ease;
        height: 155px;
    }
    .kim1ipad:hover img{
        transform: scale(1.5);
    }


    /**Website Css *****************/
    /**For not Showing Ipad Project changes On Iphone 6/7/8 & Plus**/
    .website{
        display: none;
    }
    .websiteipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 300px; 
    }
    .websiteipad a{
        font-size: 25px
    }
    .webtitleipad{
        color: white;
        font-size: 25px;
    }
    .webtextipad{
        color: white;
        font-size: 18px;
    }
    .kim2ipad{
        overflow: hidden;
    }
    .kim2ipad img{
        transition: all 1.5s ease;
        height: 153px;
    }
    .kim2ipad:hover img{
        transform: scale(1.5);
    }

    
    /**CONTACT====================================**/
    .contact{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 130px; 
        margin-top: -20px;
    }
    .h2-contact{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        font-size: 50px;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        margin-top: 35px; 
        width: 70%;
        margin-left: 120px;
    }
    .form-label{
        font-size: 20px;
        color: white;
    }
    .con h3{
        color: white;
        text-align: center;
        font-size: 35px;
    }
    .frm-contact{
        width: 100%;
        height: 400px;
    }
    .form-label{
        font-size: 25px;
    }
    .btn-primary{
        font-size: 30px;
    }
    
    /**SOCIAL **********************************/
    .newcardsocial{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 730px; 
        height: 400px;
    }
    .newcardsocial h3{
        font-size: 50px;
        color: #fafbfc;
        text-shadow: black 1px 1px;
        background-color: #53728F;
        background-size: 20px;
        border-radius: 10px 10px 10px 10px;
        letter-spacing: 2px;
        font-family: 'Gorditas', cursive;
        margin-top: 0px;
        text-align: center; 
    }

    .fb{
        font-size: 40px;
        color: white; 
        margin-left:90px;
        margin-top: 40px;
    }
    .ber{
        font-size: 40px;
        color: white; 
        margin-left:90px;
        margin-top: 40px; 
    }
    .gogle{
        font-size: 40px;
        color: white; 
        margin-left:90px;
        margin-top: 40px;
    }

    .cardsocial{
        display: none;
    }

    /**Maps ************************************/
    .map{
        width: 100%;
    }
    
    /**Footer **********************************/
    footer{
        background-color: rgb(33, 37, 41);
        text-align: center;
        font-size: 15px;
        color: white;
    }
    footer p{
        margin: 0;
        margin-top: 10px;
        font-size: 20px;
    }
}

/**This is For IPAD PRO ********************************************************************************************/
@media only screen and (min-width: 1024px){

    /**Navbar ***************************/
    #navbarNav{   
        justify-content: flex-end;
        margin-left:50px;
    }
    #navbarNav li{
        margin: 15px;
    }
    .navhome i{
        font-size: 20px;
        padding-top: 6px; 
    }
    .navhome a{
        font-size: 20px;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(255,255,255,.1 );
        border-bottom: 1px solid rgb(71, 69, 69);
        transition: .4s;
    }
    .navhome ul li:hover a{
        padding-left: 50px;
        color: rgb(7, 7, 7) !important;
    }
      
    /** HOME *************************************/
    .home h3{
        font-size: 80px;
        color: #fafbfc;
        text-shadow: black 3px 3px;
        background-color:transparent;
        background-color: rgb(53, 52, 52, 0.7);
        background-size: 20px;
        border-radius: 20px 20px 20px 20px;
        letter-spacing: 2px;
        font-family: 'Gorditas', cursive;
        margin: 50px;
    }
    .btn{
        font-size: 30px;
        margin: 20px;
        border-radius: 10px 10px 10px 10px;
    }
    #btncv{
        font-size: 30px;
        margin: 20px;
        border-radius: 10px 10px 10px 10px;
    }

    /**ABOUT ************************************/
    .me{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 150px; 
    }
    .h2-about{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        width: 70%;
        margin-top: 40px; 
        margin-left: 150px;
        font-size: 60px;
    }
    .caro{
        background-size: cover;
        height: 100px;
    }
    .image2{
        width: 100%;
        height: 600px;
    }
    .image1{
        width: 100%;
        height: 600px;
    }
    .kimpoy{
        width: 100%;
        height: 600px;
    }
    .about{
        text-align: justify;
        background-color:rgb(33, 37, 41);
        color:white;
        padding-top: 400px;
        font-size: 18px;
        margin: 0px;
    }
    .about h4{
        font-size: 40px;
        text-align: center;
        margin:120px 120px 25px 120px;
        padding-top: 80px;
    }
    .about ul li {
        text-align: justify;
        font-size: 25px;
    }
    
    /**For Not Showing Content of Ipone 6/7/8 and 6/7/8 plus**/
    .cardabout{
        display: none;
    }                                               
    
    /**For Ipad **********/
    .cardaboutIpad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        padding: 0 !important;
        width:900px 
    }
    .cardaboutIpad a{
        font-size: 20px;
    }

    .cardaboutIpad1{
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707; 
        font-size: 20px; 
    }
    .cardaboutIpadtitle{
        color: white;
        text-align: center;
        font-size: 25px;
    }
    .cardaboutIpadtext{
        color: white;
    }
    .cardaboutIpad img{
        width: 100%;
        height: 350px;  
    }
    
    /**SKILLS ***********************************************/
    .skill{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 150px; 
    }
    
    .h2-skill{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        width: 70%;
        margin-top: 40px; 
        margin-left: 150px;
        font-size: 60px;
    }
    
    /**Skills Filmora Style**/
    .cardfilmoraipad {
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 330px;
    }
    .cardfilmoraipad a{
        font-size: 25px;
    }
    .filmotitleipad{
        color: white;
        font-size: 25px;
    }
    .filmotextipad{
        color: white;
        font-size: 18px;
    }
    
    /**Skills Effects Filmora ********************/
    .innerfilmoraipad{
        overflow: hidden;
    }
    .innerfilmoraipad img{
        transition: all 1.5s ease;
        height: 200px;
    }
    .innerfilmoraipad:hover img{
        transform: scale(1.5);
    }
    .cardfilmora{
        display: none;
    }
    
    /**Skills Photoshop Style**********/
    .cardphotoipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 330px; 
        height: 88%;
    }
    .cardphotoipad a{
        font-size: 25px;
        position: absolute;
        margin-top: 150px;
    }
    .phototitleipad{
        color: white;
        font-size: 25px;
    }
    .phototextipad{
        color: white;
        font-size: 18px;
    }
    
    /**Skills Effects Photoshop *********/
    .innerphotoipad{
        overflow: hidden;
    }
    .innerphotoipad img{
        transition: all 1.5s ease;
        height: 200px;
    }
    .innerphotoipad:hover img{
        transform: scale(1.5);
    }
    .cardphoto{
        display: none;
    }
    
    /**Skills Html style ********/
    .cardhtmlipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: -3%;
        box-shadow: 2px 8px 10px #070707;
        width: 330px; 
    }
    .cardhtmlipad a{
        font-size: 25px;
    }
    .htmltitleipad{
        color:white;
        font-size: 25px;
    }
    .htmltextipad{
        color: white;
        font-size: 18px;
    }
    
    /**Skills Effects Html css ***********/
    .innerhtmlipad{
        overflow: hidden;
    }
    .innerhtmlipad img{
        transition: all 1.5s ease;
        height: 200px;
    }
    .innerhtmlipad:hover img{
        transform: scale(1.5);
    }
    .cardhtml{
        display: none;
    }
    
    /**PROJECT ====================================================**/
    .project{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 150px; 
        margin-top: -20px;   
    }
    .h2-project{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        width: 70%;
        margin-top: 40px; 
        margin-left: 150px;
        font-size: 60px;
    }

    /**Porfolio CSS**/
    /**For not Showing Ipad Project changes On Iphone 6/7/8 & Plus**/
    .portfolio{
        display: none;
    }

    .portfolioipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 300px; 
    }
    .portfolioipad a{
        font-size: 25px;
    }
    .portfoltitleipad{
        color: white;
        font-size: 25px;
    }
    .portfoltextipad{
        color: white;
        font-size: 18px;
    }
    .kim1ipad{
        overflow: hidden;
    }
    .kim1ipad img{
        transition: all 1.5s ease;
        height: 155px;
    }
    .kim1ipad:hover img{
        transform: scale(1.5);
    }


    /**Website Css *****************/
    /**For not Showing Ipad Project changes On Iphone 6/7/8 & Plus**/
    .website{
        display: none;
    }
    .websiteipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 300px; 
    }
    .websiteipad a{
        font-size: 25px
    }
    .webtitleipad{
        color: white;
        font-size: 25px;
    }
    .webtextipad{
        color: white;
        font-size: 18px;
    }
    .kim2ipad{
        overflow: hidden;
    }
    .kim2ipad img{
        transition: all 1.5s ease;
        height: 153px;
    }
    .kim2ipad:hover img{
        transform: scale(1.5);
    }

    
    /**CONTACT====================================**/
    .contact{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 150px; 
        margin-top: -20px;
    }
    .h2-contact{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        width: 70%;
        margin-top: 40px; 
        margin-left: 150px;
        font-size: 60px;
    }
    .form-label{
        font-size: 20px;
        color: white;
    }
    .con h3{
        color: white;
        text-align: center;
        font-size: 35px;
    }
    .frm-contact{
        width: 100%;
        height: 400px;
    }
    .form-label{
        font-size: 25px;
    }
    .btn-primary{
        font-size: 30px;
    }
    
    /**SOCIAL **********************************/
    .newcardsocial{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 940px; 
        height: 400px;
    }
    .newcardsocial h3{
        font-size: 50px;
        color: #fafbfc;
        text-shadow: black 1px 1px;
        background-color: #53728F;
        background-size: 20px;
        border-radius: 10px 10px 10px 10px;
        letter-spacing: 2px;
        font-family: 'Gorditas', cursive;
        margin-top: 0px;
        text-align: center; 
    }

    .fb{
        font-size: 40px;
        color: white; 
        margin-left:90px;
        margin-top: 40px;
    }
    .ber{
        font-size: 40px;
        color: white; 
        margin-left:90px;
        margin-top: 40px; 
    }
    .gogle{
        font-size: 40px;
        color: white; 
        margin-left:90px;
        margin-top: 40px;
    }

    .cardsocial{
        display: none;
    }

    /**Maps ************************************/
    .map{
        width: 100%;
    }
    
    /**Footer **********************************/
    footer{
        background-color: rgb(33, 37, 41);
        text-align: center;
        font-size: 15px;
        color: white;
    }
    footer p{
        margin: 0;
        margin-top: 10px;
        font-size: 20px;
    }
}

/**This is for DESKTOP ***************************************************************************************/
@media only screen and (min-width: 1366px){
    .navz{
        z-index: 9;
    }
    #rd{
        font-size:30px;
        color: none;
    }
    .navhome i{
        font-size: 20px;
        padding-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .navhome{
        float: left;
        width: 100%;
        height: 50px;
    }
    .navbar-nar a{
        font-size: 20px;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(255,255,255,.1 );
        border-bottom: 1px solid rgb(71, 69, 69);
        transition: .4s;
    }

    .navhome a:hover{
        background-color: rgb(204, 157, 15);
        border-radius: 10px 10px 10px 10px;
    }
   
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

     /** HOME *************************************/
     .main{
        background-image: url("../image/back11.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:scroll;
        width: 100%;
        height: 850px;   
    }
    
    .home{
        text-align: center;
        padding-top: 200px;
    }
    .home img{
        width: 300px;
        height: 300px;
        border-radius: 140px 140px 140px 140px;
        margin: -70px 0px -20px 0px ;
    }
     .home h3{
        font-size: 75px;
        color: #fafbfc;
        text-shadow: black 3px 3px;
        background-color:transparent;
        background-color: rgb(53, 52, 52, 0.7);
        background-size: 20px;
        border-radius: 20px 20px 20px 20px;
        letter-spacing: 2px;
        font-family: 'Gorditas', cursive;
        margin: 50px;
    }
    .btn{
        font-size: 25px;
        margin: 10px;
        border-radius: 10px 10px 10px 10px;
    }
    .btncontact{
        text-decoration: none;
    }
    #btncv{
        font-size: 25px;
        margin: 10px;
        border-radius: 10px 10px 10px 10px;
    }

    /**ABOUT ************************************/
    .me{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 200px; 
    }
    .h2-about{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        width: 70%;
        margin-top: 55px; 
        margin-left: 220px;
        font-size: 80px;
    }
    .caro{
        background-size: cover;
        height: 100px;
    }
    .image2{
        width: 100%;
        height: 800px;
    }
    .image1{
        width: 100%;
        height: 800px;
    }
    .kimpoy{
        width: 100%;
        height: 800px;
    }
    .about{
        text-align: justify;
        background-color:rgb(33, 37, 41);
        color:white;
        padding-top: 400px;
        font-size: 18px;
        margin: 0px;
    }
    .about h4{
        font-size: 40px;
        text-align: center;
        margin: 350px 120px 30px 120px;
        padding-top: 80px;
    }
    .about ul li {
        text-align: justify;
        font-size: 20px;
    }
    
    /**For Not Showing Content of Ipone 6/7/8 and 6/7/8 plus**/
    .cardabout{
        display: none;
    }                                               
    
    /**For Ipad **********/
    .cardaboutIpad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        padding: 0 !important;
        width: 1050px;
    }
    .cardaboutIpad a{
        font-size: 20px;
    }

    .cardaboutIpad1{
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707; 
        font-size: 20px; 
    }
    .cardaboutIpadtitle{
        color: white;
        text-align: center;
        font-size: 25px;
    }
    .cardaboutIpadtext{
        color: white;
    }
    .cardaboutIpad img{
        width: 100%;
        height: 350px;  
    }
    
    /**SKILLS ***********************************************/
    .skill{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 200px; 
    }
    
    .h2-skill{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        width: 70%;
        margin-top: 55px; 
        margin-left: 220px;
        font-size: 80px;
    }
    
    /**Skills Filmora Style**/
    .cardfilmoraipad {
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 330px;
    }
    .cardfilmoraipad a{
        font-size: 25px;
    }
    .filmotitleipad{
        color: white;
        font-size: 25px;
    }
    .filmotextipad{
        color: white;
        font-size: 18px;
    }
    
    /**Skills Effects Filmora ********************/
    .innerfilmoraipad{
        overflow: hidden;
    }
    .innerfilmoraipad img{
        transition: all 1.5s ease;
        height: 200px;
    }
    .innerfilmoraipad:hover img{
        transform: scale(1.5);
    }
    .cardfilmora{
        display: none;
    }
    
    /**Skills Photoshop Style**********/
    .cardphotoipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 4%;
        box-shadow: 2px 8px 10px #070707;
        width: 330px; 
        height: 88%;
    }
    .cardphotoipad a{
        font-size: 25px;
        position: absolute;
        margin-top: 150px;
    }
    .phototitleipad{
        color: white;
        font-size: 25px;
    }
    .phototextipad{
        color: white;
        font-size: 18px;
    }
    
    /**Skills Effects Photoshop *********/
    .innerphotoipad{
        overflow: hidden;
    }
    .innerphotoipad img{
        transition: all 1.5s ease;
        height: 200px;
    }
    .innerphotoipad:hover img{
        transform: scale(1.5);
    }
    .cardphoto{
        display: none;
    }
    
    /**Skills Html style ********/
    .cardhtmlipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: -2%;
        box-shadow: 2px 8px 10px #070707;
        width: 330px; 
    }
    .cardhtmlipad a{
        font-size: 25px;
    }
    .htmltitleipad{
        color:white;
        font-size: 25px;
    }
    .htmltextipad{
        color: white;
        font-size: 18px;
    }
    
    /**Skills Effects Html css ***********/
    .innerhtmlipad{
        overflow: hidden;
    }
    .innerhtmlipad img{
        transition: all 1.5s ease;
        height: 200px;
    }
    .innerhtmlipad:hover img{
        transform: scale(1.5);
    }
    .cardhtml{
        display: none;
    }
    
    /**PROJECT ====================================================**/
    .project{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 200px; 
        margin-top: -20px;   
    }
    .h2-project{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        width: 70%;
        margin-top: 55px; 
        margin-left: 220px;
        font-size: 80px;
    }

    /**Porfolio CSS**/
    /**For not Showing Ipad Project changes On Iphone 6/7/8 & Plus**/
    .portfolio{
        display: none;
    }

    .portfolioipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 300px; 
    }
    .portfolioipad a{
        font-size: 25px;
    }
    .portfoltitleipad{
        color: white;
        font-size: 25px;
    }
    .portfoltextipad{
        color: white;
        font-size: 18px;
    }
    .kim1ipad{
        overflow: hidden;
    }
    .kim1ipad img{
        transition: all 1.5s ease;
        height: 155px;
    }
    .kim1ipad:hover img{
        transform: scale(1.5);
    }


    /**Website Css *****************/
    /**For not Showing Ipad Project changes On Iphone 6/7/8 & Plus**/
    .website{
        display: none;
    }
    .websiteipad{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 5%;
        box-shadow: 2px 8px 10px #070707;
        width: 300px; 
    }
    .websiteipad a{
        font-size: 25px
    }
    .webtitleipad{
        color: white;
        font-size: 25px;
    }
    .webtextipad{
        color: white;
        font-size: 18px;
    }
    .kim2ipad{
        overflow: hidden;
    }
    .kim2ipad img{
        transition: all 1.5s ease;
        height: 153px;
    }
    .kim2ipad:hover img{
        transform: scale(1.5);
    }

    
    /**CONTACT====================================**/
    .contact{
        background-image: url("../image/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        width: 100%;
        height: 200px; 
        margin-top: -20px;
    }
    .h2-contact{
        border-radius: 50px 50px 50px;
        font-family: 'Gorditas', cursive;
        text-shadow: rgb(7, 7, 7) 1px 2px;
        color:white;
        background-color: rgb(53, 52, 52, 0.5); 
        padding-top: 0px; 
        width: 70%;
        margin-top: 55px; 
        margin-left: 220px;
        font-size: 80px;
    }
    .form-label{
        font-size: 20px;
        color: white;
    }
    .con h3{
        color: white;
        text-align: center;
        font-size: 35px;
    }
    .frm-contact{
        width: 100%;
        height: 400px;
    }
    .form-label{
        font-size: 25px;
    }
    .btn-primary{
        font-size: 30px;
    }
    
    /**SOCIAL **********************************/
    .newcardsocial{
        display: block;
        margin: 0 auto; 
        float: none; 
        margin-bottom: 50px; 
        padding-bottom: -20px;
        margin-top: 8%;
        box-shadow: 2px 8px 10px #070707;
        width: 1130px; 
        height: 400px;
    }
    .newcardsocial h3{
        font-size: 50px;
        color: #fafbfc;
        text-shadow: black 1px 1px;
        background-color: #53728F;
        background-size: 20px;
        border-radius: 10px 10px 10px 10px;
        letter-spacing: 2px;
        font-family: 'Gorditas', cursive;
        margin-top: 0px;
        text-align: center; 
    }

    .fb{
        font-size: 50px;
        color: white; 
        margin-left:90px;
        margin-top: 40px;
    }
    .ber{
        font-size: 50px;
        color: white; 
        margin-left:90px 90px 20px 90px;
        margin-top: 40px; 
    }
    .gogle{
        font-size: 50px;
        color: white; 
        margin-left:90px;
        margin-top: 40px;
    }

    .cardsocial{
        display: none;
    }

    /**Maps ************************************/
    .map{
        width: 100%;
        height: 300px !important;
    }
    
    /**Footer **********************************/
    footer{
        background-color: rgb(33, 37, 41);
        text-align: center;
        font-size: 15px;
        color: white;
        width: 100%;
        height: 50px;
    }
    footer p{
        margin: 20px;
        margin-top: 10px;
        font-size: 20px;
    }
}